@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@700&display=swap');

#main {
    width: 90%;
    margin: auto;
}
.text-color {
    color: #333333;
}
#header {
    font-family: 'Inconsolata', monospace;
    letter-spacing: -0.08em;
    font-size: 24px;
    font-weight: 700;
}
#body {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-container > img{
    width: 539.22px;
    height: 447.43px;
}
#text-title {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.035em;
    width: 586px;
}
#text-desc {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.035em;
    width: 381px;
    margin-top: 36px;
}
#button {
    width: 216px;
    height: 68px;
    font-family: 'Space Mono', monospace;
    color: #ffffff;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}
#footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    text-align: center;
    margin-top: 80px;
}
#footer a {
    font-weight: 700;
    color: #bdbdbd;
}
@media only screen and (max-width: 768px) {
    #body {
        display: flex;
        flex-direction: column;
    }
    #image-container > img{
        width: 286.83px;
        height: 220.35px;
    }
    #text-title {
        font-size: 48px;
        width: 350px;
        height: 142px;
        margin-top: 75px;
    }
    #text-desc {
        width: 328px;
        height: 81px;
        font-size: 18px;
        margin-top: 30px;
    }
    #footer {
        margin-top: 35px;
    }
}